.container {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(237, 158, 174);
  display: flex;
  flex-direction: column;
  color: aliceblue;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list {
  width: 90%;
  margin: auto;
  background-color: rgb(198, 99, 118);
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}
.listFirst {
  width: 90%;
  margin: auto;
  background-color: rgb(198, 99, 118);
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
}
.listLast {
  width: 90%;
  margin: auto;
  background-color: rgb(198, 99, 118);
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
}
.number {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.item {
  background-color: rgb(158, 53, 74);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
